body {
    /*background-color: #36393f;*/
    background-color: #2a2a2a;
    color: white;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
}

.notice_nick {
    color: #808080;
}

.chat_nick {
    color: #808080;
}

.channels_unread {
    color: red;
}

.sidel {
    /*background-color: rgba(0,0,0,.1)*/
    background-color: #1f1f1f;
}

.sider {
    /*background-color: rgba(0,0,0,.1)*/
    background-color: #1f1f1f;
}

#header {
    /*background-color: rgba(0,0,0,.1)*/
    background-color: #1f1f1f;
}

.info {
    color: #808080;
}
/* extra
    #262a2d dark blue
    #2B333B lighter blue
*/